CLICKHOUSE_HOST=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
GUILD_WORKSPACE=
GUILD_TRIGGER_KEY_ID=
GUILD_TRIGGER_SECRET=
SENSO_API_KEY=
AKASHML_API_KEY=
AKASH_CONSOLE_API_KEY=
GITHUB_TOKEN=
JUICE_SHOP_REPO=
PUBLIC_DOMAIN=
